version: 2.1

workflows:
  build:
    jobs:
      - build:
          filters:
            # Also run for version tags.
            tags:
              only: "/^v.*/"
          context:
            - docker-hub
            - orb-publishing

jobs:
  build:
    docker:
      - image: library/alpine:3
    environment:
      DOCKER_BUILDKIT: 1
      BUILDKIT_PROGRESS: plain
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run: apk --update add make shellcheck docker git
      - run:
          name: Install CircleCI CLI
          command: |
            set -euo pipefail
            wget "https://github.com/CircleCI-Public/circleci-cli/releases/download/v0.1.23241/circleci-cli_0.1.23241_linux_amd64.tar.gz"
            echo "304e8547762ac5ba134dcaa6e30657b80ca04a3e9e540d071f4cdb2e34d4bc6c  circleci-cli_0.1.23241_linux_amd64.tar.gz" | sha256sum -c
            tar -xzf circleci-cli_0.1.23241_linux_amd64.tar.gz
            mv circleci-cli_0.1.23241_linux_amd64/circleci /usr/bin/circleci
      - run:
          name: Lint
          command: make lint
      - run:
          name: Build and push docker image
          command: |
            printenv DOCKER_PASS | docker login --username "$DOCKER_USER" --password-stdin
            make push-docker-image
      - run:
          name: Publish dev version of CircleCI orb
          command: |
            export CIRCLECI_CLI_TOKEN="$CIRCLE_TOKEN"
            make publish-orb
      - when:
          condition:
            matches:
              pattern: "^v.*"
              value: "<< pipeline.git.tag >>"
          steps:
            - run:
                name: Publish release version of CircleCI orb
                command: |
                  export CIRCLECI_CLI_TOKEN="$CIRCLE_TOKEN"
                  make publish-orb "ORB_VERSION=${CIRCLE_TAG:1}"
